*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Cabin Condensed", sans-serif;
}

/* navbar */

.nav-menu{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    list-style: none;
    background-color: rgba(51, 51, 51,0.5);
    padding: 20px;
    margin-bottom: 30px;
}
.nav-menu li a{
    text-decoration: none;
    color: #333;
    font-weight: 800;
    font-size: 23px;
}
/*Home page*/
#posts{
    text-align: center;
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.post h2 a{
    font-size: 28px;
    text-decoration: none;
    color: #333;
}
.post p,time{
    font-size: 15px;
    line-height: 20px;
    color: darkgray;

}
